.container {
  justify-content: flex-start;
  align-items: center;
  max-width: 40.7rem;
  flex: 1;
  max-height: 21.3rem;
}

.container > span {
  font-size: 2.1rem;
  line-height: 2.5rem;
  text-align: center;
  font-weight: 600;
  margin-top: 1.3rem;
}
.container > span:nth-child(2) {
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-weight: 500;
  margin-top: 2.2rem;
}
.container > span:nth-child(3) {
  font-size: 2em;
  line-height: 2.3rem;
  letter-spacing: 0.3rem;
  margin-bottom: 3.3rem;
}

.container > p {
  text-align: center;
  max-width: 32rem;
}
