.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 51.7rem;
  flex: 1;
  max-height: 49.5rem;
}

.aboutHeader {
  font-size: 1.8rem;
  line-height: 2.28rem;
  font-weight: 500;
  margin-top: 2rem;
}

.about {
  text-align: justify;
}
