.inputContainer {
  width: 100%;
}

.signIn {
  width: 18.8rem;
  margin-bottom: 2.4rem;
}

.signUp {
  width: 18rem;
  margin-bottom: 1.8rem;
}

.contact > label {
  margin-bottom: 1rem;
}

.contactError {
  border: 1.5px solid var(--error);
}
