.inputContainer {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.signIn,
.error {
  width: 18.8rem;
  margin-bottom: 2.4rem;
}

.signUp {
  width: 18rem;
  margin-bottom: 1.8rem;
}

.contact > label {
  margin-bottom: 1rem;
}

.contact {
  width: 100%;
}

.contactError,
.error {
  border: 1.5px solid var(--error);
  width: 100%;
}
