.container {
  justify-content: flex-start;
  align-items: center;
  max-width: 18.8rem;
  flex: 1;
  max-height: 35rem;
}

.container > span {
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-weight: 600;
  margin-top: 1.3rem;
}

.container > span:nth-child(2) {
  font-weight: 400;
  margin-top: 2.2rem;
}

.container > span:nth-child(3) {
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.3rem;
  margin-top: 0;
  margin-bottom: 1.9rem;
}
