:root {
  --white: #ffffff;
  --black: #000000;
  --primary: #2fbcf7;
  --disabled: #a6a6a6;
  --shadowColor: rgba(0, 0, 0, 0.25);
  --shadow: drop-shadow(0px 2px 4px var(--shadowColor));
  --overlay: rgba(42, 120, 152, 0.8);
  --error: #eb2a2a;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  background-color: var(--white);
  color: var(--black);
}

h1 {
  font-size: 2rem;
  line-height: 2.3rem;
}

h2 {
  font-size: 1.8rem;
  line-height: 3.2rem;
  font-weight: 500;
}

p {
  font-size: 1.4rem;
  line-height: 2.6rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--black);
  border-bottom: 0.5px solid transparent;
  transition: all 0.7s ease;
}

a:hover,
a:focus {
  color: var(--primary);
}

input,
textarea,
select {
  border: 0.5px solid var(--black);
  padding: 1rem;
}

select {
  width: 100%;
  text-align: center;
  margin-bottom: 1.8rem;
  text-transform: uppercase;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

textarea {
  width: 100%;
}

input::placeholder {
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: center;
  letter-spacing: 0.15rem;
  color: var(--black);
}

label,
input[type="button"],
input[type="submit"] {
  font-size: 1.1rem;
  line-height: 1.3rem;
  text-align: center;
  letter-spacing: 0.165rem;
  text-transform: uppercase;
  font-weight: 400;
  transition: all 0.7s ease;
}

label {
  margin-bottom: 0.4rem;
}

input[type="button"],
input[type="submit"] {
  background-color: var(--black);
  color: var(--white);
  filter: var(--shadow);
  border: none;
  width: 18.5rem;
  height: 3.7rem;
  cursor: pointer;
  transition: all 0.7s ease;
}

input[type="button"]:hover,
input[type="submit"]:hover {
  background-color: var(--primary);
  color: var(--black);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.uppercase {
  text-transform: uppercase;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
